# Import packages and cleaned dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
token = pd.read_csv("tokenized_access_logs.csv")

In [3]:
token.head()

,Product,Category,Date,Month,Hour,Department,ip,url
0,adidas Brazuca 2017 Official Match Ball,baseball & softball,9/1/2017 6:00,Sep,6,fitness,37.97.182.65,/department/fitness/category/baseball%20&%20so...
1,The North Face Women's Recon Backpack,hunting & shooting,9/1/2017 6:00,Sep,6,fan shop,206.56.112.1,/department/fan%20shop/category/hunting%20&%20...
2,adidas Kids' RG III Mid Football Cleat,featured shops,9/1/2017 6:00,Sep,6,apparel,215.143.180.0,/department/apparel/category/featured%20shops/...
3,Under Armour Men's Compression EV SL Slide,electronics,9/1/2017 6:00,Sep,6,footwear,206.56.112.1,/department/footwear/category/electronics/prod...
4,Pelican Sunstream 100 Kayak,water sports,9/1/2017 6:01,Sep,6,fan shop,136.108.56.242,/department/fan%20shop/category/water%20sports...

In [6]:
supplyChain = pd.read_csv("DataCoSupplyChainDataset.csv", encoding='ISO-8859-1')

In [10]:
supplyChain.iloc[:, :20].head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,Customer Country,Customer Email,Customer Fname,Customer Id,Customer Lname,Customer Password,Customer Segment,Customer State,Customer Street,Customer Zipcode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Cally,20755,Holloway,XXXXXXXXX,Consumer,PR,5365 Noble Nectar Island,725.0
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Irene,19492,Luna,XXXXXXXXX,Consumer,PR,2679 Rustic Loop,725.0
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,EE. UU.,XXXXXXXXX,Gillian,19491,Maldonado,XXXXXXXXX,Consumer,CA,8510 Round Bear Gate,95125.0
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,EE. UU.,XXXXXXXXX,Tana,19490,Tate,XXXXXXXXX,Home Office,CA,3200 Amber Bend,90027.0
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Orli,19489,Hendricks,XXXXXXXXX,Corporate,PR,8671 Iron Anchor Corners,725.0

In [11]:
supplyChain.iloc[:, 21:40].head()

,Department Name,Latitude,Longitude,Market,Order City,Order Country,Order Customer Id,order date (DateOrders),Order Id,Order Item Cardprod Id,Order Item Discount,Order Item Discount Rate,Order Item Id,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order
0,Fitness,18.251453,-66.037056,Pacific Asia,Bekasi,Indonesia,20755,1/31/2018 22:56,77202,1360,13.110000,0.04,180517,327.75,0.29,1,327.75,314.640015,91.250000
1,Fitness,18.279451,-66.037064,Pacific Asia,Bikaner,India,19492,1/13/2018 12:27,75939,1360,16.389999,0.05,179254,327.75,-0.80,1,327.75,311.359985,-249.089996
2,Fitness,37.292233,-121.881279,Pacific Asia,Bikaner,India,19491,1/13/2018 12:06,75938,1360,18.030001,0.06,179253,327.75,-0.80,1,327.75,309.720001,-247.779999
3,Fitness,34.125946,-118.291016,Pacific Asia,Townsville,Australia,19490,1/13/2018 11:45,75937,1360,22.940001,0.07,179252,327.75,0.08,1,327.75,304.809998,22.860001
4,Fitness,18.253769,-66.037048,Pacific Asia,Townsville,Australia,19489,1/13/2018 11:24,75936,1360,29.500000,0.09,179251,327.75,0.45,1,327.75,298.250000,134.210007

In [12]:
supplyChain.iloc[:, 41:].head()

,Order State,Order Status,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,Java Occidental,COMPLETE,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,Rajastán,PENDING,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,Rajastán,CLOSED,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,Queensland,COMPLETE,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,Queensland,PENDING_PAYMENT,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

# Data Cleaning and Preprocessing

In [7]:
supplyChain = supplyChain.drop(columns=['Product Description', 'Customer Email', 
                                        'Product Image', 'Customer Password'])

supplyChain['Customer Lname'] = supplyChain['Customer Lname'].fillna('Unknown')
supplyChain['Customer Zipcode'] = supplyChain['Customer Zipcode'].fillna('Unknown')

supplyChain['order date (DateOrders)'] = pd.to_datetime(supplyChain['order date (DateOrders)'], errors='coerce')
supplyChain['shipping date (DateOrders)'] = pd.to_datetime(supplyChain['shipping date (DateOrders)'], errors='coerce')

supplyChain['Year'] = supplyChain['order date (DateOrders)'].dt.year
supplyChain['Month'] = supplyChain['order date (DateOrders)'].dt.month
supplyChain['YEAR_MONTH']=supplyChain['order date (DateOrders)'].dt.to_period('M')
supplyChain['YEAR_WEEK']=supplyChain['order date (DateOrders)'].dt.to_period('W')

In [8]:
supplyChain.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Product Category Id,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode,Year,Month,YEAR_MONTH,YEAR_WEEK
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,73,Smart watch,327.75,0,2018-02-03 22:56:00,Standard Class,2018,1,2018-01,2018-01-29/2018-02-04
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,73,Smart watch,327.75,0,2018-01-18 12:27:00,Standard Class,2018,1,2018-01,2018-01-08/2018-01-14
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,73,Smart watch,327.75,0,2018-01-17 12:06:00,Standard Class,2018,1,2018-01,2018-01-08/2018-01-14
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,73,Smart watch,327.75,0,2018-01-16 11:45:00,Standard Class,2018,1,2018-01,2018-01-08/2018-01-14
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,73,Smart watch,327.75,0,2018-01-15 11:24:00,Standard Class,2018,1,2018-01,2018-01-08/2018-01-14

In [10]:
supplyChain.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Fname', 'Customer Id', 'Customer Lname',
       'Customer Segment', 'Customer State', 'Customer Street',
       'Customer Zipcode', 'Department Id', 'Department Name', 'Latitude',
       'Longitude', 'Market', 'Order City', 'Order Country',
       'Order Customer Id', 'order date (DateOrders)', 'Order Id',
       'Order Item Cardprod Id', 'Order Item Discount',
       'Order Item Discount Rate', 'Order Item Id', 'Order Item Product Price',
       'Order Item Profit Ratio', 'Order Item Quantity', 'Sales',
       'Order Item Total', 'Order Profit Per Order', 'Order Region',
       'Order State', 'Order Status', 'Order Zipcode', 'Product Card Id',
       'Product Category Id', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode', 'Year',
       'Month', 'YearMonth'],
      dtype='object')

In [9]:
# Aggregate order quantities by region
supplyChain_group = supplyChain.groupby(['Year', 'Market', 'Month', 'Order Country',
                                        'Order Region', 'Order State', 'Product Name', 
                                         'Category Name'])

In [10]:
supplyChain_group1 = supplyChain_group["Order Item Quantity"].sum().reset_index()
supplyChain_group2 = supplyChain_group["Sales"].sum().reset_index()
supplyChain_group3 = supplyChain_group["Days for shipping (real)"].mean().reset_index()

In [11]:
supplyChain_group4 = supplyChain_group["Product Price"].mean().reset_index()
supplyChain_group5 = supplyChain_group["Product Status"].mean().reset_index()

In [12]:
supplyChain_df = supplyChain_group1.copy()
supplyChain_df["Sales"] = supplyChain_group2["Sales"]
supplyChain_df["Days for shipping (real)"] = supplyChain_group3["Days for shipping (real)"]
supplyChain_df["Product Price"] = supplyChain_group4["Product Price"]
supplyChain_df["Product Status"] = supplyChain_group5["Product Status"]

In [13]:
# Dummy variables
supplyChain_df = pd.get_dummies(supplyChain_df, columns = ['Market', 'Order Country',
                                        'Order Region', 'Order State', 'Product Name', 
                                         'Category Name'], dtype=int)

In [14]:
supplyChain_df.head()

,Year,Month,Order Item Quantity,Sales,Days for shipping (real),Product Price,Product Status,Market_Africa,Market_Europe,Market_LATAM,...,Category Name_Sporting Goods,Category Name_Strength Training,Category Name_Tennis & Racquet,Category Name_Toys,Category Name_Trade-In,Category Name_Video Games,Category Name_Water Sports,Category Name_Women's Apparel,Category Name_Women's Clothing,Category Name_Women's Golf Clubs
0,2015,5,1,399.980011,4.0,399.980011,0.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2015,5,1,129.990005,3.0,129.990005,0.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2015,5,6,300.000000,2.5,50.000000,0.0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,2015,5,3,299.970001,4.0,99.989998,0.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2015,5,3,149.940002,2.0,49.980000,0.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
# get X and y
X = supplyChain_df.loc[:, ~supplyChain_df.columns.isin(["Order Item Quantity"])]
y = supplyChain_df["Order Item Quantity"]

In [16]:
# Standardization
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled_X = X.copy()
scaled_X = scaler.fit_transform(scaled_X)
scaled_X = pd.DataFrame(scaled_X, columns = X.columns)

In [17]:
# Drop all 0 columns
scaled_X = scaled_X.loc[:, (scaled_X!=0).any(axis=0)]

In [19]:
# Feature selection
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=695)
rfr.fit(scaled_X, y)

RandomForestRegressor(random_state=695)

In [20]:
selected_ind = np.argsort(rfr.feature_importances_)[1404:]
selected_features = scaled_X.columns[selected_ind]
selected_features

Index(['Product Name_Porcelain crafts', 'Product Name_Lawn mower',
       'Category Name_Garden', 'Order State_Berlín', 'Market_Pacific Asia',
       'Category Name_CDs ', 'Order Country_Australia',
       'Category Name_Cameras ', 'Order Region_Oceania',
       'Order Region_East of USA', 'Order Region_US Center ',
       'Product Name_Web Camera', 'Category Name_Fishing',
       'Order Country_Francia',
       'Product Name_O'Brien Men's Neoprene Life Vest',
       'Product Name_Field & Stream Sportsman 16 Gun Fire Safe',
       'Category Name_Women's Apparel', 'Order State_Isla de Francia',
       'Order State_Nueva York', 'Order Country_Estados Unidos',
       'Category Name_Indoor/Outdoor Games', 'Order State_Texas',
       'Order Region_Western Europe', 'Market_USCA', 'Market_Europe',
       'Product Name_Nike Men's Dri-FIT Victory Golf Polo',
       'Product Name_Diamondback Women's Serene Classic Comfort Bi',
       'Category Name_Camping & Hiking', 'Year',
       'Product Name_Pelican Sunstream 100 Kayak', 'Product Name_Dell Laptop',
       'Category Name_Water Sports', 'Category Name_Computers',
       'Order Country_Reino Unido', 'Order Region_Northern Europe',
       'Category Name_Men's Footwear',
       'Product Name_Nike Men's CJ Elite 2 TD Football Cleat',
       'Order State_Inglaterra', 'Month', 'Days for shipping (real)',
       'Category Name_Shop By Sport', 'Category Name_Cardio Equipment',
       'Product Name_Under Armour Girls' Toddler Spine Surge Runni',
       'Order Region_West of USA ', 'Order State_California',
       'Product Name_Nike Men's Free 5.0+ Running Shoe',
       'Category Name_Cleats', 'Product Name_Perfect Fitness Perfect Rip Deck',
       'Product Price', 'Sales'],
      dtype='object')

In [21]:
X_selected = scaled_X[selected_features]
X_selected.head()

,Product Name_Porcelain crafts,Product Name_Lawn mower,Category Name_Garden,Order State_Berlín,Market_Pacific Asia,Category Name_CDs,Order Country_Australia,Category Name_Cameras,Order Region_Oceania,Order Region_East of USA,...,Category Name_Shop By Sport,Category Name_Cardio Equipment,Product Name_Under Armour Girls' Toddler Spine Surge Runni,Order Region_West of USA,Order State_California,Product Name_Nike Men's Free 5.0+ Running Shoe,Category Name_Cleats,Product Name_Perfect Fitness Perfect Rip Deck,Product Price,Sales
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.195975,0.004906
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.060302,0.001510
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.020106,0.003648
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.045226,0.003648
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.020095,0.001761

In [22]:
# Get the train and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_selected, y, test_size = 0.20, random_state = 695)

# Demand Forecasting

## LSTM Time Series

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

In [ ]:
# Define the LSTM model
model = Sequential()
model.add(LSTM(50, activation='relu', input_shape=(X_train.shape[1], X_train.shape[2])))
model.add(Dropout(0.2))
model.add(Dense(1))  # One output neuron since you're predicting a single value

# Compile the model
model.compile(optimizer='adam', loss='mse')

# Fit the model
model.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.1, verbose=2)

## Random Forest Regressor

In [33]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

rfr = RandomForestRegressor(random_state = 695)
forest_params = [{'n_estimators': [30, 50, 70, 90],
                  'max_features': [5, 10, 15, 20, 'sqrt', 'log2'],
                  'min_samples_split': [1, 50, 100, 150, 200]}]

In [34]:
reg = GridSearchCV(rfr, forest_params, cv = 3, scoring='neg_mean_squared_error', verbose = True)
reg.fit(X_train, y_train)

Fitting 3 folds for each of 120 candidates, totalling 360 fits

/Users/sunnygao/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_validation.py:425: FitFailedWarning:
72 fits failed out of a total of 360.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
72 fits failed with the following error:
Traceback (most recent call last):
  File "/Users/sunnygao/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/sunnygao/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 1144, in wrapper
    estimator._validate_params()
  File "/Users/sunnygao/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "/Users/sunnygao/anaconda3/lib/python3.11/site-packages/sklearn/utils/_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'min_samples_split' parameter of RandomForestRegressor must be an int in the range [2, inf) or a float in the range (0.0, 1.0]. Got 1 instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/Users/sunnygao/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_search.py:976: UserWarning: One or more of the test scores are non-finite: [         nan          nan          nan          nan -58.07862413
 -59.36850686 -57.69051666 -56.84928817 -83.02996843 -86.32467324
 -83.05494214 -81.55362143 -91.37942406 -93.94937261 -92.45364322
 -92.10200772 -96.47543371 -99.83294134 -96.79806257 -96.22999581
          nan          nan          nan          nan -30.87307138
 -30.0501203  -29.86240275 -29.94406595 -57.05811365 -54.7978827
 -52.9471859  -51.5586565  -61.27609477 -59.66152493 -58.11059431
 -57.69186009 -63.38536553 -63.93259478 -62.72049086 -62.4211641
          nan          nan          nan          nan -23.30318098
 -23.55141404 -23.13075972 -22.25904588 -40.33177967 -40.15767114
 -39.30265064 -37.75868528 -47.59845384 -45.94807927 -45.32170472
 -45.29203157 -53.45429964 -53.80302602 -52.59340606 -51.46795367
          nan          nan          nan          nan -17.78690124
 -16.74408451 -17.03296938 -16.65567357 -33.92344021 -31.13867453
 -31.459621   -30.30835117 -38.89836226 -37.50371024 -37.65151514
 -37.35109852 -47.77975924 -46.19770011 -46.92291067 -46.49315873
          nan          nan          nan          nan -45.77483333
 -46.4226937  -47.5968615  -46.65289592 -67.9814075  -67.64932718
 -67.66114699 -65.76672705 -76.53061376 -76.05310878 -77.1686124
 -75.60144356 -84.55686682 -83.71327929 -83.56770464 -81.88165469
          nan          nan          nan          nan -58.07862413
 -59.36850686 -57.69051666 -56.84928817 -83.02996843 -86.32467324
 -83.05494214 -81.55362143 -91.37942406 -93.94937261 -92.45364322
 -92.10200772 -96.47543371 -99.83294134 -96.79806257 -96.22999581]
  warnings.warn(

GridSearchCV(cv=3, estimator=RandomForestRegressor(random_state=695),
             param_grid=[{'max_features': [5, 10, 15, 20, 'sqrt', 'log2'],
                          'min_samples_split': [1, 50, 100, 150, 200],
                          'n_estimators': [30, 50, 70, 90]}],
             scoring='neg_mean_squared_error', verbose=True)

In [35]:
print(reg.best_params_)
print(reg.best_score_) # MSE

{'max_features': 20, 'min_samples_split': 50, 'n_estimators': 90}
-16.655673569467332

In [36]:
# Test set
from sklearn.metrics import r2_score
y_pred = reg.predict(X_test)
mean_squared_error(y_test, y_pred)

19.42133775694988

In [38]:
# Best model rerun
rfr = RandomForestRegressor(random_state = 695, 
                            max_features = 20, min_samples_split = 50, n_estimators = 90)
rfr.fit(X_train, y_train)
y_pred = rfr.predict(X_test)
print("R^2:", r2_score(y_test, y_pred))
print("MSE:", mean_squared_error(y_test, y_pred))
print("MAE:", mean_absolute_error(y_test, y_pred))

R^2: 0.9443314141045495
MSE: 19.42133775694988
MAE: 0.4775950663864438

## Gradient Boosting Regressor

In [42]:
from sklearn.ensemble import GradientBoostingRegressor

gbt = GradientBoostingRegressor(random_state = 695)
boost_params = [{'n_estimators': [30, 50, 70, 90],
                  'max_features': [5, 10, 15, 20, 'sqrt', 'log2'],
                  'min_samples_split': [1, 50, 100, 150, 200]}]

In [43]:
reg = GridSearchCV(gbt, boost_params, cv = 3, scoring='neg_mean_squared_error', verbose = True)
reg.fit(X_train, y_train)

Fitting 3 folds for each of 120 candidates, totalling 360 fits

/Users/sunnygao/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_validation.py:425: FitFailedWarning:
72 fits failed out of a total of 360.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
72 fits failed with the following error:
Traceback (most recent call last):
  File "/Users/sunnygao/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/sunnygao/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 1144, in wrapper
    estimator._validate_params()
  File "/Users/sunnygao/anaconda3/lib/python3.11/site-packages/sklearn/base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "/Users/sunnygao/anaconda3/lib/python3.11/site-packages/sklearn/utils/_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'min_samples_split' parameter of GradientBoostingRegressor must be an int in the range [2, inf) or a float in the range (0.0, 1.0]. Got 1 instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/Users/sunnygao/anaconda3/lib/python3.11/site-packages/sklearn/model_selection/_search.py:976: UserWarning: One or more of the test scores are non-finite: [          nan           nan           nan           nan -119.00203402
  -79.48565293  -61.81659404  -52.54255105 -115.09091501  -75.59351975
  -57.98602769  -49.98756606 -126.79163051  -86.57122363  -67.46074567
  -58.81794972 -128.09013134  -87.05777261  -68.60060506  -60.35026371
           nan           nan           nan           nan  -63.69985078
  -33.1608129   -20.00200239  -16.31496612  -64.60238497  -35.00675829
  -21.7526304   -18.0779853   -68.89463593  -42.74902923  -25.9278393
  -21.21886113  -72.46226371  -42.4861801   -26.35968614  -21.94073123
           nan           nan           nan           nan  -45.96709235
  -19.50054653  -12.70493495   -9.23047111  -46.78588378  -19.62681542
  -13.77674144  -10.67015156  -50.69864446  -21.19308195  -14.87965823
  -12.00193055  -51.88419653  -20.9143386   -14.72706854  -11.46132475
           nan           nan           nan           nan  -37.54149506
  -14.28465578   -8.31498804   -6.56222115  -37.26093633  -14.42487081
   -8.3579993    -6.88071644  -39.07047975  -15.55068937   -9.54650972
   -7.46465154  -43.71939203  -17.88182151   -9.7741017    -7.52007919
           nan           nan           nan           nan -115.76399936
  -55.6086763   -41.25395735  -31.33108268 -120.55445585  -55.47820371
  -40.83778357  -32.03593262 -127.69486248  -61.74910119  -45.76515966
  -36.28417491 -130.39355115  -63.69267248  -48.08276217  -37.04602915
           nan           nan           nan           nan -119.00203402
  -79.48565293  -61.81659404  -52.54255105 -115.09091501  -75.59351975
  -57.98602769  -49.98756606 -126.79163051  -86.57122363  -67.46074567
  -58.81794972 -128.09013134  -87.05777261  -68.60060506  -60.35026371]
  warnings.warn(

GridSearchCV(cv=3, estimator=GradientBoostingRegressor(random_state=695),
             param_grid=[{'max_features': [5, 10, 15, 20, 'sqrt', 'log2'],
                          'min_samples_split': [1, 50, 100, 150, 200],
                          'n_estimators': [30, 50, 70, 90]}],
             scoring='neg_mean_squared_error', verbose=True)

In [44]:
print(reg.best_params_)
print(reg.best_score_) # MSE

{'max_features': 20, 'min_samples_split': 50, 'n_estimators': 90}
-6.5622211479352615

In [45]:
# Test set
y_pred = reg.predict(X_test)
mean_squared_error(y_test, y_pred)

9.050232068072896

In [46]:
# Best model rerun
gbt = GradientBoostingRegressor(random_state = 695, 
                            max_features = 20, min_samples_split = 50, n_estimators = 90)
gbt.fit(X_train, y_train)
y_pred = gbt.predict(X_test)
print("R^2:", r2_score(y_test, y_pred))
print("MSE:", mean_squared_error(y_test, y_pred))
print("MAE:", mean_absolute_error(y_test, y_pred))

R^2: 0.9740587580752521
MSE: 9.050232068072896
MAE: 1.0840465638781402

## Linear Regression

In [39]:
from sklearn.linear_model import LinearRegression

lm = LinearRegression() # create a blank model object and instantiate the model
model = lm.fit(X_train, y_train)

In [40]:
y_pred = model.predict(X_test)

In [41]:
print("R^2:", r2_score(y_test, y_pred))
print("MSE:", mean_squared_error(y_test, y_pred))
print("MAE:", mean_absolute_error(y_test, y_pred))

R^2: 0.6200557257416148
MSE: 132.55278467194438
MAE: 4.70394572073661